{% load static %}
{% include 'register/base.html' %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-alert.css' %}">
    <link rel="stylesheet" href="{% static 'css/mbbootstrap/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mbbootstrap/googleapis.css' %}">
    <link rel="stylesheet" href="{% static 'css/mbbootstrap/mdb.min.css' %}">
{% endblock %}
{% block content %}
    <div class="container h-200 form-margin">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12 col-md-12 col-lg-6">
                {% if messages %}
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="col-sm-12 col-sm-offset-3">
                            {% for message in messages %}
                                <div class="alert {{ message.tags }}" role="alert">
                                    <p>{{ message }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <!-- Form -->
                <form class="form-example" action="{% url 'login' %}" data-url="{% url 'register:validate-otp'  %}" method="post" id="registerPhoneForm">
                {% csrf_token %}
                    <h1>Login</h1>

                    <p class="description">Please enter Your Phone Number and Password.</p>
                    <!-- Input fields -->
                    <hr>
                    <br>
                    {% for field in form %}
                        <div class="form-group">
                            <label>{{field.label}}:</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success d-inline-block ">Login</button>
                        <small><a href="{% url 'register:ajax-reset-password'  %}" class="nav-link d-inline-block">Forgot Password?</a></small>
                    </div>
                   
    
                    <!-- End input fields -->
                </form>
                <!-- Form end -->
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/mbbootstrap/mdb.min.js' %}"></script>
    <script src="{% static 'js/mbbootstrap/mdb_main.js' %}"></script>
{% endblock %}