    {% load static %}
    
    <nav class="navbar navbar-expand-lg navbar-steel bg-dark">
        <a class="navbar-brand" href="#">
        <img src="{% static 'images/school.svg' %}" width="30" height="30" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blogs</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Countries
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">About</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ml-2 mr-2">
                <li class="nav-item active">
                    {% if request.user.is_authenticated %}{% if request.user.name %} {{ request.user.name }} {% else %}{{request.user.phone }}{% endif %}
                        <a class="navbar-brand" href="{% url 'logout' %}">
                            <img src="{% static 'images/logout.svg' %}" width="30" height="30" alt=""></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>{% if request.user.name %} {{ request.user.name }} {% else %}{{request.user.phone }}{% endif %}
                            </button>
                        </a>
                    {% else %}
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
            <ul class="navbar-nav ml-2 mr-2">
                <li class="nav-item active">
                    {% if request.user.is_authenticated %}
                        <a class="nav-link" href="#">Update
                            <img src="{% static 'images/update.svg' %}" width="30" height="30" alt=""></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </a>
                    {% else %}
                        <a class="nav-link my-2 my-sm-0" href="{% url 'register:register-phone' %}">Register</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>