{% load static %}
{% include 'register/base.html' %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-alert.css' %}">
    <link rel="stylesheet" href="{% static 'css/mbbootstrap/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mbbootstrap/googleapis.css' %}">
    <link rel="stylesheet" href="{% static 'css/mbbootstrap/mdb.min.css' %}">
{% endblock %}
{% block content %}
    <div class="container h-200 form-margin">
        {% if messages %}
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-sm-6 col-sm-offset-3">
                    {% for message in messages %}
                        <div class="alert {{ message.tags }}" role="alert">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-10 col-lg-6">
                <!-- Form -->
                <form id="phone_number_form" data-url="{% url 'register:ajax-reset-password' %}">
                    {% csrf_token %}
                    <div class="container my-4">
                            <span  class="alert-danger" id="id_phone_number_warning" style="display:none;" ></span>
                            <!-- Material input -->
                            <!-- Phone number Input-->
                            <div class="md-form mb-2">
                                <label for="id_phone_number mt-5">Phone Number</label>
                                {% if request.user.is_authenticated %}
                                    <input type="text" id="id_phone_number" class="form-control is-valid input-width" value={{request.user.phone}} required>
                                {% else %}
                                    <input type="text" id="id_phone_number" class="form-control is-valid input-width" required>
                                {% endif %}
                                <input type="text" id="id_phone_number2" class="form-control" style="display: none;">
                                <small for="id_phone_number">Type your phone number</small>
                            </div>
                        <button type="submit" class="btn btn-primary" id="phone_number_submit">Submit</button>
                    </div>
                </form>
                <!-- Form end -->
                <!-- Form -->
                <form id="otp_number_form" data-url="{% url 'register:ajax-reset-password' %}" style="display: none">
                    {% csrf_token %}
                    <div class="container my-4">
                            <span  class="alert-danger" id="id_otp_warning" style="display:none;" ></span>
                            <!-- Material input -->
                            <!-- OTP Value Input-->
                            <div class="md-form mb-2">
                                <label for="id_otp_value">Enter OTP</label>
                                <input type="text" id="id_otp_value" class="form-control input-width">
                                <input type="text" id="id_otp_value2" class="form-control" style="display: none;">
                                <small for="id_otp_value" id="otp_value">Please enter the OTP. </small>
                            </div>
                        <button type="submit" class="btn btn-primary" id="otp_submit">Submit</button>
                    </div>
                </form>
                <!-- Form end -->
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/mbbootstrap/mdb.min.js' %}"></script>
    <script src="{% static 'js/mbbootstrap/mdb_main.js' %}"></script>

{% endblock %}